<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" data-target="#mainNavbar" data-toggle="collapse">

    <a href="#" class="active"><img src="/images/logo-dark.png" alt="Infrrd" class="navbar-brand"></a>
    <div class="navbar-header">
        <button class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navLinks dropdown" id="mainNavbar">

        <ul class="nav navbar-nav navbar-right right-margin">
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Players</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Player Search</a></li>
                </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Results</a></li>
                    <li><a href="#">Schedule</a></li>
                    <li><a href="#">Calender</a></li>
                </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams</a>
                <ul class="dropdown-menu">
                    <li><a href="#">View Teams</a></li>
                    <li><a href="#">Points Table</a></li>
                </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistics</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Batting records</a></li>
                    <li><a href="#">Bowling Records</a></li>
                    <li><a href="#">Fielding Records</a></li>
                    <li><a href="#">Player Rankings</a></li>
                </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">League</a>
                <ul class="dropdown-menu">
                    <li><a href="#">League Info</a></li>
                    <li><a href="#">Grounds</a></li>
                    <li><a href="#">Umpires</a></li>
                    <li><a href="#">Photo Gallery</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">SignUp</a></li>

        </ul>
    </div>
</nav>

<div class="container logoStyle">
    <img src="/images/Cricket-logo.gif" alt="Infrrd Premier League">
</div>
